<div id="menu">
    <h1>Menu</h1>
    <ul>
        <li><a href="{% url reporting.views.hours.index %}">Customer Report</a></li>
        <li><a href="{% url reporting.views.time_spent.index %}">Internal Report (e. vs a.)</a></li>
        <li><a href="{% url reporting.views.client_report.index %}">Client Report</a></li>
        <li><a href="{% url reporting.views.work_todo.index %}">Work To Do</a></li>
        <li><a href="{% url reporting.views.current_tickets.index %}">Current Tickets</a></li>
        <li><a href="{% url reporting.views.todo.index %}">Todo</a></li>
    </ul>
</div>
